on early-init
    start ueventd

on init
    export PATH /sbin
    export ANDROID_ROOT /system
    export ANDROID_DATA /data
    export EXTERNAL_STORAGE /sdcard
    export SD_EXT_DIRECTORY /sd-ext
    export HOME /
    

    mkdir /boot
    mkdir /sdcard
    mkdir /sd-ext
    mkdir /datadata
    mkdir /system
    mkdir /emmc
    mkdir /misc
    mkdir /HWUserData
    mkdir /data
    mkdir /cache
    mkdir /cust
    mount /tmp /tmp tmpfs

    symlink /system/etc /etc

# System clock os using UTC
    sysclktz 0

# Check if recovery supports timezones
    export TZ US/Cincinnati

on boot

    ifup lo
    hostname localhost
    domainname localdomain

service offmode_check /sbin/offmode_check
    oneshot

service ueventd /sbin/ueventd
    critical

service recovery /sbin/recovery
    disabled

service adbd /sbin/adbd recovery
    disabled

service rmt_storage /system/bin/rmt_storage /dev/block/mmcblk0p10 /dev/block/mmcblk0p11 /dev/block/mmcblk0p17
    user root
    disabled

service offmode_charge /sbin/offmode_charge
    disabled

    on property:persist.service.adb.enable=1
    start adbd

    on property:persist.service.adb.enable=0
    stop adbd

# Always start adbd on "userdebug" and "eng builds"
# In recovery, always run adbd as root
    on property:ro.debuggable=1
    on property:ro.serialno=cm-c8860
    on property:sys.usb.config=adb
    on property:ro.product.model=Mercury
    on property:ro.product.manufacturer=Huawei
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 12d1
    write /sys/class/android_usb/android0/idProduct 1038
    write /sys/class/android_usb/android0/iSerial $ro.serialno
    write /sys/class/android_usb/android0/iProduct $ro.product.model
    write /sys/class/android_usb/android0/iManufacturer $ro.product.manufacturer
    write /sys/class/android_usb/android0/functions $sys.usb.config
  # write /sys/class/android_usb/android0/enable 1
  # start adbd
    setprop service.adb.root 1

# Restart adbd so it can run as root
    on property:service.adb.root=1
    write /sys/class/android_usb/android0/enable 0
    restart adbd
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state $sys.usb.config
